<h1>{{ sensor.sensor_name }}</h1>
<ul>
    {% for info in sensor.sensor_info_set.all %}
    <li>{{ info.sensor_info_text }}</li>
    {% endfor %}

</ul>
<a href="/range_sensor/download/{{sensor.id}}">{{'Download'}}</a>