<h1>{{ 'RANGING' }}</h1>
{% if latest_sensor_list %}
<ul>
    {% for sensor in latest_sensor_list %}
    <li><a href="/range_sensor/{{ sensor.id }}/">{{ sensor.sensor_name }}</a></li>
    <img src="/range_sensor/staticImage.png/{{ sensor.id }}" width="200px">
    {% endfor %}
</ul>
{% else %}
<p>No range_sensor are available.</p>
{% endif %}
<h1>{{ 'TEST' }}</h1>
 <li><a href="/range_sensor/gyro_test/">GYRO_Test</a></li>
 <li><a href="/range_sensor/range_test/">RANGE_Test</a></li>
 <li><a href="/range_sensor/range_gyro_test/">RANGE_GYRO_Test</a></li>
<!-- <img src="result.png"> -->
<!-- <meta http-equiv="refresh" content="0.001"> -->
<!-- <img src="/range_sensor/Map.png" id='myimg' width="200px">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type='text/javascript'>
$(document).ready(function(event){
	var d = new Date();
	$('#myimg').attr('src','/range_sensor/Map.png?'+d.getTime());
})
</script> -->